<app-header></app-header>

<div class="bacb-content open-card-BG">
  <ng-container>
    <div class="container">
      <!-- title and progress bar-->
      <div class="row mt-4">
        <div class="col-sm-12">
          <div class="page-header d-flex justify-content-center">
            <h3>Oops!</h3>
          </div>
        </div>
      </div>

      <!-- text -->
      <div class="row pt-3 pb-3">
        <div class="col-sm-12">
          <h6>This content is currently under development.</h6>
          <h6>Contact your friendly neighborhood Applications Developer for more information.</h6>
        </div>
      </div>
    </div>
  </ng-container>
</div>

<app-footer class="footer-fixed"></app-footer>
