<div class="container">

  <mat-expansion-panel [expanded]="true" class="mt-1" >
    <mat-expansion-panel-header class=" panel-heading bacb-panel-header summary-opt">
      <mat-panel-title>
        <h5 class="summary-header">
          Submitted Application Summary
        </h5>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="bacb-panel-bg mt-2">
      <div class="instructions px-4 py-4">
        Please review the information in your submitted application here. If you would like to view other saved applications, you can find them in the Applications Home page available as a link in the header of this page.
      </div>

    </div>
  </mat-expansion-panel>
</div>
