<div class="container">
  <div class="row mt-3 mb-3">
    <div class="col-sm-12 instructions">
      Provide information about any <strong><u>non-BACB</u></strong> professional credentials you currently hold.
    </div>
  </div>

    <!--  Other Credentials -->
    <div class="row mt-4">
        <div class="col-sm-12">
            <div class="panel panel-default bacb-panel-bg">
                <legend class="panel-heading bacb-panel-header">
                    <div class="small-container">
                        <div class="bacb-panel-header-text">Other Professional Credentials</div>
                        <div class="fill"></div>
                        <div><button mat-raised-button color = "primary" (click)="OnClickNew()"><mat-icon inline="true">add_box</mat-icon>&nbsp; Add Credential</button></div>
                    </div>
                </legend>
                <div class="panel-body">
                    <table mat-table [dataSource]="Credentials" class="table table-striped">
                        <ng-container matColumnDef="Type">
                            <th mat-header-cell *matHeaderCellDef>Credential Type</th>
                            <td mat-cell *matCellDef="let Credential">{{Credential.Type.Value}}</td>
                        </ng-container>
                        <ng-container matColumnDef="Title">
                            <th mat-header-cell *matHeaderCellDef>Professional Title</th>
                            <td mat-cell *matCellDef="let Credential">{{Credential.Title}}</td>
                        </ng-container>
                        <ng-container matColumnDef="Country">
                            <th mat-header-cell *matHeaderCellDef>Country</th>
                            <td mat-cell *matCellDef="let Credential">{{Credential.Country.Name}}</td>
                        </ng-container>
                        <ng-container matColumnDef="State">
                            <th mat-header-cell *matHeaderCellDef>State/Province</th>
                            <td mat-cell *matCellDef="let Credential">{{Credential.State.Abbrev}}</td>
                        </ng-container>
                        <ng-container matColumnDef="Number">
                            <th mat-header-cell *matHeaderCellDef>Credential #</th>
                            <td mat-cell *matCellDef="let Credential">{{Credential.Number}}</td>
                        </ng-container>
                        <ng-container matColumnDef="Year">
                            <th mat-header-cell *matHeaderCellDef>Year Obtained</th>
                            <td mat-cell *matCellDef="let Credential">{{Credential.Year}}</td>
                        </ng-container>
                        <ng-container matColumnDef="Actions">
                            <th mat-header-cell *matHeaderCellDef>Actions</th>
                            <td mat-cell *matCellDef="let Credential">
                                <button type="button" class="btn btn-link" (click)="OnClickEdit(Credential)">
                                    <mat-icon  class="bacb-icon" inline="true">edit</mat-icon>
                                </button>
                                <button type="button" class="btn btn-link" (click)="OnClickDelete(Credential)">
                                    <mat-icon class="bacb-icon" inline="true">delete</mat-icon>
                                </button>
                            </td>
                        </ng-container>
                        <tr mat-header-row *matHeaderRowDef="DisplayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: DisplayedColumns;"></tr>
                    </table>

                </div> <!-- end inner panel body -->
            </div> <!-- end outer panel body -->
        </div>
        <div class="row mt-4" *ngIf="(Credentials | async)?.length == 0">
            <div class="col-sm-12">
                <form [formGroup]="BypassForm">
                    <mat-checkbox color="primary" formControlName="BypassCheck" (change)="OnClickNoOtherCredentialBox($event)">
                        <span class="checkbox-text"> I do not have any non-BACB professional credentials to add. </span>
                    </mat-checkbox>
                </form>
            </div>
        </div>
    </div>
    <!-- Add form -->
    <form (ngSubmit)="OnSubmit()" [formGroup]="CredentialForm" class="mt-2 mb-2">

        <div class="row mt-4" *ngIf="IsVisibleEdit">
            <div class="col-sm-12">
                <div class="panel panel-default bacb-panel-bg">
                    <legend class="panel-heading bacb-panel-header">{{IsVisibleNew ? "New Non-BACB Credential" : "Edit Credential"}}</legend>
                    <div class="panel-body">
                        <div class="row mb-3 pl-3 pr-3">
                            <div class="col-sm-12" *ngIf="1==0">
                                <mat-label>Credential Id</mat-label>
                                <input matInput formControlName="CredentialId">
                            </div>
                        </div>
                        <div class="row mb-3 pl-3 pr-3">

                            <div class="col-sm-4">
                                <mat-form-field  class="width-100">
                                    <mat-label>Credential Type</mat-label>
                                    <mat-select [compareWith]="CompareListObj" formControlName="Type">
                                        <mat-option *ngFor="let Type of (OtherCredentialTypes)" [value]="Type">{{ Type.Value }}</mat-option>
                                        <mat-error *ngIf="!CredentialForm.controls['Type'].errors?.required">
                                            Credential Type is required.
                                        </mat-error>
                                    </mat-select>

                                </mat-form-field>
                            </div>

                            <div class="col-sm-4">
                              <div *ngIf="CredentialForm.get('Type').value?.Value == 'Other'">
                                <mat-form-field class="width-100">
                                    <mat-label>Professional Title</mat-label>
                                    <input matInput formControlName="Title">
                                </mat-form-field>
                              </div>
                            </div>

                            <div class="col-sm-4">
                                <mat-form-field class="width-100">
                                    <mat-label>Credential Number</mat-label>
                                    <input matInput formControlName="Number">
                                    <mat-error *ngIf="!CredentialForm.controls['Number'].valid && CredentialForm.controls['Number'].touched">
                                        Credential Number is required.
                                    </mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row mb-3 pl-3 pr-3">
                            <div class="col-sm-4">
                                <mat-form-field class="width-100">
                                    <mat-label>Country</mat-label>
                                    <mat-select [compareWith]="CompareCountry" formControlName="Country">
                                        <mat-option *ngFor="let Country of (Countries)" [value]="Country"> {{Country.Name}} </mat-option>
                                        <mat-error *ngIf="!CredentialForm.controls['Country'].valid && CredentialForm.controls['Country'].touched">
                                            Country is required.
                                        </mat-error>
                                    </mat-select>
                                </mat-form-field>
                            </div>

                            <div class="col-sm-4" *ngIf="CredentialForm.controls['Country'].value && CredentialForm.controls['Country'].value.DialCode == 1">
                                <mat-form-field>
                                    <mat-label>State/Province</mat-label>
                                    <mat-select formControlName="State" [compareWith]="CompareState">
                                        <mat-option *ngFor="let State of StateSet[0].States" [value]="State" > {{State.Abbrev}} - {{State.Name}} </mat-option>
                                        <mat-error *ngIf="CredentialForm.get('State')?.hasError('required')">
                                            State is required.
                                        </mat-error>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="col-sm-4">
                                <mat-form-field class="width-100">
                                    <mat-label>Year Obtained</mat-label>
                                    <input matInput formControlName="Year">
                                    <mat-error *ngIf="!CredentialForm.controls['Year'].valid && CredentialForm.controls['Year'].touched">
                                            Year format incorrect. (YYYY)
                                    </mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                      <div class="row my-4 px-3 pb-3">
                        <div class="col-12 d-flex justify-content-end">
                          <button mat-raised-button color = "primary" class="btn-primary mr-4" (click)="OnClickCancel()"> Cancel </button>
                          <button mat-raised-button color = "primary" class="btn-primary" type="submit"> Save </button>

                        </div>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </form>

</div>
