<div class="open-card-BG">
  <ng-container>
    <div class="container">

      <!-- title and progress bar-->
      <div class="row mt-4">
        <div class="col-sm-12">
          <div class="page-header d-flex justify-content-center">
            <h3>Password Reset</h3>
          </div>
        </div>
      </div>

      <!-- text -->
      <div class="row pt-3 pb-3">
        <div class="col-sm-12">
          <p>Enter your current password and confirm your new password below.</p>
        </div>
      </div>


      <!-- basic information -->
      <!-- *ngIf="(Profile | async) as ProfileData; else loading" -->
      <form [formGroup]="PasswordForm" (ngSubmit)="OnSubmit()">
        <div class="row mt-4">
          <div class="col-sm-12">
            <div class="panel panel-default bacb-panel-bg">
              <legend class="panel-heading bacb-panel-header">Change Password</legend>
              <div class="panel-body mb -4">

                <!-- Row 1 -->
                <div class="row mt-2 ml-2 mr-2">
                  <div class="col-sm-4">
                    <mat-form-field class="width-100">
                      <mat-label>Old Password</mat-label>
                      <input id="oldPassword" name="oldPassword" matInput type="password" formControlName="oldPassword">
                    </mat-form-field>
                  </div>
                </div>
                <!-- Row 2 -->
                <div class="row mt-2 ml-2 mr-2">
                  <div class="col-sm-4">
                    <mat-form-field class="width-100">
                      <mat-label>New Password</mat-label>
                      <input id="newPassword" name="newPassword" matInput type="password" formControlName="newPassword">
                    </mat-form-field>
                  </div>
                </div>
                <!-- Row 3 -->
                <div class="row mt-2 ml-2 mr-2">
                  <div class="col-sm-4">
                    <mat-form-field class="width-100">
                      <mat-label>Re-Enter New Password</mat-label>
                      <input id="newPasswordRepeat" name="newPasswordRepeat" matInput type="password"
                        formControlName="newPasswordRepeat">
                    </mat-form-field>
                  </div>
                </div>
                <div class="ml-4">
                    <p *ngIf="passwordErrors.newMatch" class="input-feedback">
                      New Password must be re-entered correctly
                  </p>
                    <p *ngIf="passwordErrors.required" class="input-feedback">
                      You must type a new password
                    </p>
                    <p *ngIf="passwordErrors.lessMinLength" class="input-feedback">
                      New password must be at least 8 characters
                    </p>
                    <p *ngIf="passwordErrors.exceedsMaxLength" class="input-feedback">
                      New password must be less than 32 characters
                    </p>
                    <p *ngIf="passwordErrors.contiansCharacters" class="input-feedback">
                      New password must contain at least one character and at least one number
                    </p>
                    <p *ngIf="passwordErrors.forbidden" class="input-feedback">
                      New password cannot match old password
                    </p>
                  </div>
              </div>
            </div>
          </div>
        </div>
        <button _ngcontent-owe-c19="" mat-raised-button color = "primary" class="btn-primary mat-button" mat-button="" type="submit">
          <span class="mat-button-wrapper">
            <mat-icon _ngcontent-owe-c19="" class="mat-icon notranslate material-icons mat-icon-no-color" role="img"
              aria-hidden="true">cloud_upload</mat-icon> Submit
          </span>
          <div class="mat-button-ripple mat-ripple" matripple="" ng-reflect-centered="false" ng-reflect-disabled="false"
            ng-reflect-trigger="[object HTMLButtonElement]"></div>
          <div class="mat-button-focus-overlay"></div>
        </button>

      </form>


    </div>
  </ng-container>
</div>
<app-footer class="footer-fixed"></app-footer>
