# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc
# Only exists if Bazel was run
/bazel-out

# dependencies
/node_modules
/mattsConsts

#mocks
/mattsConsts

# profiling files
chrome-profiler-events.json
speed-measure-plugin.json

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db
index.ssp
src/favicon.ico
src/favicon.ico
src/favicon_3.ico
src/favicon_5.ico
src/favicon.ico
scripts/ABAI_RAW/institution_address.csv
scripts/ABAI_RAW/institution.csv
scripts/ABAI_RAW/course_sequence_course_assignment.csv
scripts/ABAI_RAW/course_sequence.csv
scripts/ABAI_RAW/course.csv
scripts/ABAI_RAW/coordinator.csv
scripts/ABAI_RAW/content_hours.csv
scripts/ABAI_RAW/content_area_hours_allocation.csv
scripts/ABAI_RAW/ap_waiver.csv
scripts/ABAI_RAW/alternative_courseID.csv
scripts/RC_RAW/altCourse.json
scripts/RC_RAW/CHGarbage.json
scripts/RC_RAW/Coursework_Advanced.csv
scripts/RC_RAW/customrecord_rc_content_hours.csv
scripts/RC_RAW/customrecord_rc_coordinator.csv
scripts/RC_RAW/customrecord_rc_course.csv
scripts/RC_RAW/customrecord_rc_course_advanced.csv
scripts/RC_RAW/customrecord_rc_department.csv
scripts/RC_RAW/customrecord_rc_hour_allocation.csv
scripts/RC_RAW/customrecord_rc_institution.csv
scripts/RC_RAW/fuckthisgarbage.json
scripts/RC_RAW/garbageAllocation.json
scripts/RC_RAW/garbagecoord.json
scripts/RC_RAW/garbageCourse.json
scripts/RC_RAW/garbageCS.json
scripts/RC_RAW/garbageCSA.json
scripts/RC_RAW/garbageCSA2.json
scripts/RC_RAW/garbageIA.json
scripts/RC_RAW/garbageWaiver.json
scripts/RC_RAW/mixtape.csv
scripts/RC_RAW/VCS Data.csv
scripts/RC_RAW/xref_sequence.json
scripts/RC_RAW/CHGarbage.json
scripts/RC_RAW/customrecord_rc_coordinator.csv
scripts/RC_RAW/customrecord_rc_department.csv
scripts/RC_RAW/customrecord_rc_institution.csv
scripts/RC_RAW/fuckthisgarbage.json
scripts/RC_RAW/garbageAllocation.json
scripts/RC_RAW/garbageCourse.json
scripts/RC_RAW/garbageCS.json
scripts/RC_RAW/garbageCSA.json
scripts/RC_RAW/garbageCSA2.json
scripts/RC_RAW/garbageIA.json
scripts/RC_RAW/garbageWaiver.json
scripts/RC_RAW/xref_sequence.json
scripts/ABAI_RAW/alternative_courseID.csv
scripts/ABAI_RAW/ap_waiver.csv
scripts/ABAI_RAW/content_area_hours_allocation.csv
scripts/ABAI_RAW/content_hours.csv
scripts/ABAI_RAW/coordinator.csv
scripts/ABAI_RAW/course.csv
scripts/ABAI_RAW/course_sequence.csv
scripts/ABAI_RAW/course_sequence_course_assignment.csv
scripts/ABAI_RAW/institution.csv
scripts/ABAI_RAW/institution_address.csv
scripts/RC_RAW/altCourse.json
scripts/RC_RAW/CHGarbage.json
scripts/RC_RAW/Coursework_Advanced.csv
scripts/RC_RAW/customrecord_rc_content_hours.csv
scripts/RC_RAW/customrecord_rc_coordinator.csv
scripts/RC_RAW/customrecord_rc_course.csv
scripts/RC_RAW/customrecord_rc_course_advanced.csv
scripts/RC_RAW/customrecord_rc_department.csv
scripts/RC_RAW/customrecord_rc_hour_allocation.csv
scripts/RC_RAW/customrecord_rc_institution.csv
scripts/RC_RAW/fuckthisgarbage.json
scripts/RC_RAW/garbageAllocation.json
scripts/RC_RAW/garbagecoord.json
scripts/RC_RAW/garbageCourse.json
scripts/RC_RAW/garbageCS.json
scripts/RC_RAW/garbageCSA.json
scripts/RC_RAW/garbageCSA2.json
scripts/RC_RAW/garbageIA.json
scripts/RC_RAW/garbageWaiver.json
scripts/RC_RAW/mixtape.csv
scripts/RC_RAW/VCS Data.csv
scripts/RC_RAW/xref_sequence.json
scripts/ABAI_RAW/alternative_courseID.csv
scripts/ABAI_RAW/ap_waiver.csv
scripts/ABAI_RAW/content_area_hours_allocation.csv
scripts/ABAI_RAW/content_hours.csv
scripts/ABAI_RAW/coordinator.csv
scripts/ABAI_RAW/course.csv
scripts/ABAI_RAW/course_sequence.csv
scripts/ABAI_RAW/course_sequence_course_assignment.csv
scripts/ABAI_RAW/institution.csv
scripts/ABAI_RAW/institution_address.csv
scripts/RC_RAW/altCourse.json
scripts/RC_RAW/CHGarbage.json
scripts/RC_RAW/Coursework_Advanced.csv
scripts/RC_RAW/customrecord_rc_content_hours.csv
scripts/RC_RAW/customrecord_rc_coordinator.csv
scripts/RC_RAW/customrecord_rc_course.csv
scripts/RC_RAW/customrecord_rc_course_advanced.csv
scripts/RC_RAW/customrecord_rc_department.csv
scripts/RC_RAW/customrecord_rc_hour_allocation.csv
scripts/RC_RAW/customrecord_rc_institution.csv
scripts/RC_RAW/fuckthisgarbage.json
scripts/RC_RAW/garbageAllocation.json
scripts/RC_RAW/garbagecoord.json
scripts/RC_RAW/garbageCourse.json
scripts/RC_RAW/garbageCS.json
scripts/RC_RAW/garbageCSA.json
scripts/RC_RAW/garbageCSA2.json
scripts/RC_RAW/garbageIA.json
scripts/RC_RAW/garbageWaiver.json
scripts/RC_RAW/mixtape.csv
scripts/RC_RAW/VCS Data.csv
scripts/RC_RAW/xref_sequence.json
