.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle{
  border-color:#202945 !important;
}

.mat-radio-button.mat-accent .mat-radio-inner-circle{
  color:#202945 !important;
  background-color:#202945 !important;
}

.mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element {
    background-color:rgb(255, 37, 37,.26) !important;
}

.strikethrough {
  text-decoration: line-through;
}
