    <!--  Add New Institution Form -->
    <div class="col-sm-12 mt-4">

    <div class="panel panel-default bacb-panel-bg">
        <legend class="panel-heading bacb-panel-header">Add Institution</legend>
        <div class="panel-body">
        <form [formGroup]="InstitutionForm" (ngSubmit)="OnSubmitInstitution()" class="mt-2 mb-2">
            <!-- Row 1 -->
            <div class="row mb-3 pl-3 pr-3">
            <div class="col-sm-6">
                <mat-form-field>
                <mat-label>Name</mat-label>
                <input matInput Type="Text" formControlName="Name">
                <mat-error
                    *ngIf="!InstitutionForm.controls['Name'].valid && InstitutionForm.controls['Name'].touched">
                    Institution name is required.
                </mat-error>
                </mat-form-field>
            </div>
            <div class="col-sm-6">
                <mat-form-field>
                <mat-label>Website</mat-label>
                <input matInput Type="Text" formControlName="Website">
                </mat-form-field>
            </div>
            </div>
            <!-- Row 2 -->
            <div class="row mb-3 pl-3 pr-3">
            <div class="col-sm-12">
                <mat-form-field>
                <mat-label>Address1</mat-label>
                <input matInput Type="Text" formControlName="Address1">
                </mat-form-field>
            </div>
            </div>
            <!-- Row 3 -->
            <div class="row mb-3 pl-3 pr-3">
            <div class="col-sm-12">
                <mat-form-field>
                <mat-label>Address2</mat-label>
                <input matInput Type="Text" formControlName="Address2">
                </mat-form-field>
            </div>
            </div>
            <!-- Row 4 -->
            <div class="row mb-3 pl-3 pr-3">
            <div class="col-sm-3">
                <mat-form-field>
                <mat-label>City</mat-label>
                <input type="text" matInput formControlName="City">
                </mat-form-field>
            </div>

            <div class="col-sm-3" *ngIf="SelectedCountry == null || SelectedCountry.DialCode == '1'">
                <mat-form-field>
                <mat-label>State/Province</mat-label>
                <mat-select formControlName="State">
                    <mat-option *ngFor="let InstShippingState of (StateSet)?.States"
                    [value]="InstShippingState"> {{InstShippingState.Abbrev}} -
                    {{InstShippingState.Name}} </mat-option>
                </mat-select>
                </mat-form-field>
            </div>
            <div class="col-sm-3">
                <mat-form-field>
                <mat-label>Country</mat-label>
                <mat-select [compareWith]="CompareCountry" formControlName="Country" (value)="DefaultCountry">
                    <mat-option *ngFor="let InstCountry of (Countries | async)" [value]="InstCountry"
                    (selectionChange)="OnSelectCountry(InstCountry)"> {{InstCountry.Name}} </mat-option>
                </mat-select>
                </mat-form-field>
            </div>
            <div class="col-sm-3">
                <mat-form-field>
                <mat-label>Postal Code</mat-label>
                <input matInput type="text" formControlName="PostalCode">
                </mat-form-field>
            </div>
            </div>
            <!-- Row 5 -->
            <div class="row  mb-3 pl-3 pr-3">
            <div class="col-sm-2"><br></div>
            <div class="col-sm-8 d-flex justify-content-end">
                <button mat-raised-button color = "primary" class="btn-primary" (click)="OnClickCancel()">
                <mat-icon inline="true">cancel</mat-icon> Cancel
                </button>
                <button mat-raised-button color = "primary" class="btn-primary" type="submit">
                <mat-icon>cloud_upload</mat-icon> Save
                </button>
            </div>
            <div class="col-sm-2"><br></div>
            </div>
        </form>
        </div> <!-- end inner panel body -->
    </div>
</div>
