<app-header></app-header>

<div class="bacb-content open-card-BG">
  <ng-container>
    <div class="container">
      <!-- title and progress bar-->
      <div class="row mt-4">
        <div class="col-sm-12">
          <div class="page-header d-flex justify-content-center debugging">
            <h3>Not Authorized</h3>
          </div>
        </div>
      </div>

      <!-- text -->
      <div class="row pt-3 pb-3">
        <div class="col-sm-12">
          <h6>This option is not available to you at this time.</h6>
          <h6>Please ensure that you have the applicable certification for this component and that your certification is active.</h6>
        </div>
      </div>
    </div>
  </ng-container>
</div>

<app-footer class="footer-fixed"></app-footer>
