<!--  Other Credentials -->
<!-- <div class="dropdown-divider"></div> -->
<div class="row mt-4">
  <div class="col-sm-12">
      <div class="panel panel-default bacb-panel-bg">
          <div class="panel-body">
              <table mat-table [dataSource]="Credentials" class="table table-striped">
                  <ng-container *ngIf="Mobile" matColumnDef="Type">
                      <th mat-header-cell *matHeaderCellDef>Credential Type</th>
                      <td mat-cell *matCellDef="let Credential">{{ Credential.Type.Value }}</td>
                  </ng-container>
                  <ng-container matColumnDef="Title">
                      <th mat-header-cell *matHeaderCellDef>Professional Title</th>
                      <td mat-cell *matCellDef="let Credential">{{Credential.Title}}</td>
                  </ng-container>
                  <ng-container *ngIf="[Mobile]" matColumnDef="Country">
                      <th mat-header-cell *matHeaderCellDef>Country</th>
                      <td mat-cell *matCellDef="let Credential">{{Credential.Country.Name}}</td>
                  </ng-container>
                  <ng-container *ngIf="Mobile" matColumnDef="State">
                      <th mat-header-cell *matHeaderCellDef>State/Province</th>
                      <td mat-cell *matCellDef="let Credential">{{Credential.State.Abbrev}}</td>
                  </ng-container>
                  <ng-container *ngIf="[Mobile]" matColumnDef="Number">
                      <th mat-header-cell *matHeaderCellDef>Credential #</th>
                      <td mat-cell *matCellDef="let Credential">{{Credential.Number}}</td>
                  </ng-container>
                  <ng-container matColumnDef="Year">
                      <th mat-header-cell *matHeaderCellDef>Year Obtained</th>
                      <td mat-cell *matCellDef="let Credential">{{Credential.Year}}</td>
                  </ng-container>
                  <ng-container  matColumnDef="Actions">
                      <th mat-header-cell *matHeaderCellDef>Actions</th>
                      <td mat-cell *matCellDef="let Credential">
                        <ng-template *ngIf="CanEdit">
                          <button type="button" class="btn btn-link" (click)="OnClickEdit()">
                              <mat-icon class="bacb-icon" inline="true">edit</mat-icon>
                          </button>
                          <button type="button" class="btn btn-link" (click)="OnClickDelete(Credential)">
                              <mat-icon class="bacb-icon" inline="true">delete</mat-icon>
                          </button>
                        </ng-template>
                      </td>
                  </ng-container>
                  <tr mat-header-row *matHeaderRowDef="DisplayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: DisplayedColumns;"></tr>
              </table>
          </div> <!-- end inner panel body -->
      </div> <!-- end outer panel body -->
  </div>
</div>
