@media print {

  @page{
    size: 500mm;
    overflow: hidden;
  }
}
.business-card-dimensions{
  /* A standard business card has the dimensions of 3.5" X 2"
  These porportions must be maintained */
  /* width: 41.17%;
  height: 18%; */
  /* max-width: 3.50in;
  max-height: 2in; */
  width: 3.50in;
  height: 2in;

  padding: 0px;
  border-radius: 25px;
  padding: .125in;
  border: black 1px solid;
}
.img-dimension{
width: 25%;
padding: 0;
}
.card-header {
display: flex;
flex-direction: row;
padding: 0px;
max-width: 100%;
max-height: 40%;

border-bottom-width: .5%;
border-bottom-color: #337ab7;
}

.header-rows *{
display: flex;
flex-direction: row;
font-size: 10pt;
color: #337ab7;
}
.body-rows *{
display: flex;
flex-direction: row;
font-size: 10pt;
color: #337ab7;
margin: 0;
}
.card-footer {
  text-align: center;
  max-height: 40%;
  border-top-color: #337ab7;
  border-top-width: .5%;
  padding: 0px;
  justify-content: center;

}

#back{
  display: flex;
  flex-direction: column-reverse;
}
@media print {
  html, body{
    width: 210mm;
    height: 297mm;
  }

  .business-card-dimensions{
    /* A standard business card has the dimensions of 3.5" X 2"
    These porportions must be maintained */
    /* width: 41.17%;
    height: 18%; */
    /* max-width: 3.50in;
    max-height: 2in; */
    width: 3.50in;
    height: 2in;

    padding: 0px;
    border-radius: 25px;
    padding: .125in;
    border: black 1px solid;
}
.img-dimension{
  width: 25%;
  padding: 0;
}
.card-header {
  display: flex;
  flex-direction: row;
  padding: 0px;
  max-width: 100%;
  max-height: 40%;

  border-bottom-width: .5%;
  border-bottom-color: #337ab7;
}

.header-rows *{
  display: flex;
  flex-direction: row;
  font-size: 10pt;
  color: #337ab7;
}
.body-rows *{
  display: flex;
  flex-direction: row;
  font-size: 10pt;
  color: #337ab7;
}

}
