<div class="row mt-4">
  <div class="col-sm-12">
    <div class="panel panel-default bacb-panel-bg">
      <legend class="panel-heading bacb-panel-header">
        <div class="small-container align-middle">
          <div class="bacb-panel-header-text">Instructions</div>
          <div class="fill"></div>
        </div>
      </legend>
      <div class="panel-body">

        <ng-container>
            <div class="container">
                <div class="row mt-0">
                    <div class="col-sm-12">
                        <div class="page-header d-flex justify-content-center">
                            <h1 class="page-title">
                                <div *ngIf="(Instruction$ | async)?.Title"> {{ (Instruction$ | async)?.Title }} </div>
                            </h1>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-10">
                        <div *ngIf="(Instruction$ | async)?.Text" [innerHTML]="(Instruction$ | async)?.Text | safe:'html'">
                            <!-- {{ (InstructionHTML$ | async | safe: 'html') }} -->
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-4 mt-4 mb-4">
                        <address class="m-3">
                            <strong>BACB - Exam Applications</strong><br>
                            7950 Shaffer Pkwy<br>
                            Littleton, CO 80127
                        </address>
                    </div>
                </div>
            </div>  <!-- end container -->
        </ng-container>
      </div>
    </div>
  </div>
</div>
