<div class="side-margin-free">
  <div class="container-fluid side-margin-free">
    <div class="table-responsive">
      <table class="table table-striped continuing-education-calculator">
        <thead>
          <tr>
            <th>Continuing Education Activity Type</th>
            <th>Total CE Hours</th>
            <th>Total Ethics Hours</th>
            <th>Total Hours</th>
          </tr>
        </thead>
        <tfoot>
          <tr>
            <td>Totals</td>
            <td><span class="total-ce-hours">14.0</span></td>
            <td><span class="total-ethics-hours">11.0</span></td>
            <td><span class="total-all-hours">25.0</span></td>
          </tr>
        </tfoot>
        <tbody>
          <tr>
            <td>Type 1 - College or University Course(s)</td>
            <td><span class="ce-calc-cehours-type-1">0.0</span></td>
            <td><span class="ce-calc-ethics-type-1">0.0</span></td>
            <td><span class="ce-calc-type-total-1">0.0</span></td>
          </tr>
          <tr>
            <td>Type 2 - Approved BACB Provider Events</td>
            <td><span class="ce-calc-cehours-type-2">0.0</span></td>
            <td><span class="ce-calc-ethics-type-2">0.0</span></td>
            <td><span class="ce-calc-type-total-2">0.0</span></td>
          </tr>
          <tr>
            <td>Type 3 - Non-approved Events (max of 25% of total required CE)</td>
            <td><span class="ce-calc-cehours-type-3">6.0</span></td>
            <td><span class="ce-calc-ethics-type-3">3.0</span></td>
            <td><span class="ce-calc-type-total-3">9.0</span></td>
          </tr>
          <tr>
            <td>Type 4 - Instruction of Type 1 or Type 2 (max of 25% of total required CE)</td>
            <td><span class="ce-calc-cehours-type-4">3.0</span></td>
            <td><span class="ce-calc-ethics-type-4">3.0</span></td>
            <td><span class="ce-calc-type-total-4">6.0</span></td>
          </tr>
          <tr>
            <td>Type 5 - BACB Event (max of 25% of total required CE)</td>
            <td><span class="ce-calc-cehours-type-5">5.0</span></td>
            <td><span class="ce-calc-ethics-type-5">5.0</span></td>
            <td><span class="ce-calc-type-total-5">10.0</span></td>
          </tr>
          <tr>
            <td>Type 6 - Passing exam for continuing education</td>
            <td><span class="ce-calc-cehours-type-6">0.0</span></td>
            <td><span class="ce-calc-ethics-type-6">0.0</span></td>
            <td><span class="ce-calc-type-total-6">0.0</span></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="col-lg-12 add-ce-button-container">
    <button class="add-ce-button btn btn-primary" type="button" (click)="OnClickNavigate('continuing-education')">Add Continuing
      Education</button>
  </div>
</div>
