
<legend class="panel-heading bacb-panel-header" style="text-align: center;">Previously Submitted Accommodations Summary</legend>
<span *ngIf="(data | async)?.length < 0; else summarize;" class = "width-100" style="display: block;">
  <h6 style="text-align: center;">No accommodations previously submitted for this application</h6>
</span>
<ng-template #summarize>
<table mat-table  #EducationTable [dataSource]="data | async" class="table table-striped">
  <tr mat-header-row *matHeaderRowDef="displayedCols" title="Summary"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedCols;"></tr>
  <ng-container matColumnDef="Type">
    <th mat-header-cell *matHeaderCellDef>Type</th>
    <td mat-cell *matCellDef="let accom">{{accom.Type.ShortDescription}}</td>
  </ng-container>
  <ng-container matColumnDef="Status">
    <th mat-header-cell *matHeaderCellDef>Status</th>
    <td mat-cell *matCellDef="let accom">{{accom.StatusListObject.Value}}</td>
  </ng-container>
  <ng-container matColumnDef="DateSubmitted">
    <th mat-header-cell *matHeaderCellDef>DateRequested</th>
    <td mat-cell *matCellDef="let accom">{{accom.DateSubmitted | date:'shortDate'}}<td>
  </ng-container>
  <ng-container matColumnDef="Delete">
    <th mat-header-cell *matHeaderCellDef>Delete Accommodation Request</th>
    <td mat-cell *matCellDef="let accom">
      <button mat-raised-button color="primary" (click) = "deleteAccommodation(accom.Id)">Delete</button>
    <td>
  </ng-container>
</table>
</ng-template>
